{% extends 'base.html.twig' %}

{% block body %}
   <div>
       {# affichier formulaire de creation #}
   </div>
{% endblock %}

{% block title %}
   Create a new series {{ parent() }}
{% endblock %}
