{% extends 'base.html.twig' %}

{% block title %}
todo afficher le titre de la séries | {{ parent() }}
{% endblock %}

{% block body %}
<h2>todo : Le titre de la séries</h2>

    {# todo : affichier les info de la séries #}
{% endblock %}

